version: "3.8"

services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - ./docs:/srv/jekyll/docs
      - ./docs/vendor/bundle:/usr/local/bundle
    command: jekyll serve --source /srv/jekyll/docs --watch --force_polling --host 0.0.0.0
